{% extends "page/base.html" %}
{% block content %}
<div class="animate__animated animate__fadeInUp">
    <h1>Det har aldri vært lettere å komme i aktivitet!</h1>
</div>
<div class="animate__animated animate__fadeInUp">
<div class= "omossbilde">
{% load static %} <img src="{% static "page/omoss.svg" %}"  />
</div>
<div class="animate__animated animate__fadeInUp">
<div class = "cont">
<h5>GjørNo' er en nettside utviklet av NTNU studenter i faget Programvareutvikling.
Formålet med nettsiden er å inspirere mennesker til å komme i aktivitet, særlig i en tid der mange føler på ensomhet og det er lite som skjer. For øyeblikket er det kun moderatorer som kan legge ut, men snart vil vanlige brukere og bedrifter få ta del i dette! Vi håper siden vår kan gi deg litt lys i hverdagen. Hilsen team GjørNo'!</h1>
</div>

{% endblock content %}